body {
    background-color: #1D2227;
}

h1 {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: xx-large;
    font-weight: bold;
    text-indent: 0%;
}

p {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    font-weight: bold;
}

